.drawerNavigationContainer {
    display: flex;
    flex-direction: column;
    min-width: 10vh;
    height: 100vh;
    background-color: #1d2d50;
    color: #FFFFFF;
    padding: 1rem;
}

.navigationItems {
    flex: 15.3;
}

.MuiDrawer-paper {
    top: 4.8vh !important;
}

.NavigationItem {
    cursor: pointer;
}