.tableContainer {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    overflow-y: auto;
    margin-top: 1rem;
}

.MuiButton-label {
    color: #FFFFFF;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color: #FFFFFF !important;
}